Imports e Funções

In [1]:
import pandas as pd

def estruturar(a):
    #a = nome da base
    #dividir colunas
    i= [0,2,10,12,24,27,39,49,52,56,69,82,95,108,121,134,147,152,170,188,201,202,210,217,230,242,245]
    x=0
    y=1

    while x<len(i)-1:
        if y ==1:
            a[y]=a[0].str.slice(stop=i[y])
            #print(y)
            x+=1
            y+=1
        elif y==26:
            a[y]=a[0].str.slice(start=i[x])
            #print(y)
            x+=1
            y+=1
        else:
            a[y]=a[0].str.slice(start=i[x],stop=i[y])
            #print(y)
            x+=1
            y+=1
            if x==28:
                break
    a = a.drop(a.index[0])
    #renomear colunas, para mis detalhes ver arquivo Desccol.txt
    a.columns = ['0','TIPREG','DATAPREG','CODBDI','CODNEG','TPMERC','NOMRES','ESPECI','MODREF','PRAZOT','PREABE','PREMAX','PREMIN','PREMED','PREULT','PREOFC','PREOFV','TOTNEG','QUATOT','VOLTOT','PREEXE','INDOPC','DATVEN','FATCOT','PTOEXE','CODISI','DISMES']
    print(len(a),'OK',)
    return a

def filtrar(a):
    #a = nome da base
    print('filtro de TIPREG')
    
    print(len(a))
    a.columns = ['TIPREG','DATAPREG','CODBDI','CODNEG','TPMERC','NOMRES','ESPECI','MODREF','PRAZOT','PREABE','PREMAX','PREMIN','PREMED','PREULT','PREOFC','PREOFV','TOTNEG','QUATOT','VOLTOT','PREEXE','INDOPC','DATVEN','FATCOT','PTOEXE','CODISI','DISMES']
    a = a.convert_dtypes()
    a['TIPREG']= pd.to_numeric(a['TIPREG'])
    datamask=a['TIPREG']==1
    a=a[datamask]
    print(len(a))
    
    exc=['COTAHIST']
    a=a[~a.NOMRES.isin(exc)]

    print('filtro de ESPECI')
    exc=["CI        ", "CI      MB", "CI  ER    ", "CI  ER  MB", "CI *      ", "DIR ORD NM", "DIR PRE N2", "DR3       ", "DRN       ", "DRN A     ", "DRN C     " , "DRN ED    "]
    a=a[~a.NOMRES.isin(exc)]
    print(len(a))
    
    return a

pd.Timestamp.now()

Timestamp('2022-09-23 14:03:35.547282')

Preparação das tabelas

In [2]:
#bases de dados obtidas diretamente do site da B3

##Importação das bases de dados

data2018 = pd.read_csv('COTAHIST_A2018.TXT', header=None)
data2018 = data2018.drop(data2018.index[0])
estruturar(data2018)

data2019 = pd.read_csv('COTAHIST_A2019.TXT', header=None)
data2019 = data2019.drop(data2019.index[0])
estruturar(data2019)

data2020 = pd.read_csv('COTAHIST_A2020.TXT', header=None)
data2020 = data2020.drop(data2020.index[0])
estruturar(data2020)

data2021 = pd.read_csv('COTAHIST_A2021.TXT', header=None)
data2021 = data2021.drop(data2021.index[0])
estruturar(data2021)

data2022 = pd.read_csv('COTAHIST_A2022.TXT', header=None)
data2022 = data2022.drop(data2022.index[0])
estruturar(data2022)

pd.Timestamp.now()

580155 OK
779229 OK
1251646 OK
1831862 OK
1472916 OK

Timestamp('2022-09-23 14:05:31.746900')

In [3]:
data2018b = data2018.drop(columns=[0])
data2019b = data2019.drop(columns=[0])
data2020b = data2020.drop(columns=[0])
data2021b = data2021.drop(columns=[0])
data2022b = data2022.drop(columns=[0])

pd.Timestamp.now()

Timestamp('2022-09-23 14:06:10.227349')

In [4]:
filtrar(data2018b)
filtrar(data2019b)
filtrar(data2020b)
filtrar(data2021b)
filtrar(data2022b)

data2018b = data2018b.drop(columns=['TIPREG'])
data2019b = data2019b.drop(columns=['TIPREG'])
data2020b = data2020b.drop(columns=['TIPREG'])
data2021b = data2021b.drop(columns=['TIPREG'])
data2022b = data2022b.drop(columns=['TIPREG'])
pd.Timestamp.now()

filtro de TIPREG
580156
580155
filtro de ESPECI
580155
filtro de TIPREG
779230
779229
filtro de ESPECI
779229
filtro de TIPREG
1251647
1251646
filtro de ESPECI
1251646
filtro de TIPREG
1831863
1831862
filtro de ESPECI
1831862
filtro de TIPREG
1472917
1472916
filtro de ESPECI
1472916

Timestamp('2022-09-23 14:08:06.833884')

In [11]:
print(data2018b['DATAPREG'])
#data2018b = data2018b.convert_dtypes()
#data2018b['DATA DO PREGÃO']= pd.to_datetime(data2018b['DATA DO PREGÃO'])
#pd.Timestamp.now()

1         20180102
2         20180102
3         20180102
4         20180102
5         20180102
            ...
580152    20181228
580153    20181228
580154    20181228
580155    20181228
580156    COTAHIST
Name: DATAPREG, Length: 580156, dtype: object

Juntando as tabelas

In [ ]:
##Unificando a base
data = pd.concat([data2018b,data2019b,data2020b,data2021b,data2022b])
data[:5]
pd.Timestamp.now()

,DATA DO PREGÃO,CODBDI,CODNEG,TPMERC,NOMRES,ESPECI,MODREF,PRAZOT,PREABE,PREMAX,...,TOTNEG,QUATOT,VOLTOT,PREEXE,INDOPC,DATVEN,FATCOT,PTOEXE,CODISI,DISMES
1,20180102,02,AALR3,010,ALLIAR,ON NM,,R$,0000000001494,0000000001516,...,00403,000000000000094500,000000000140299100,0000000000000,0,99991231,0000001,0000000000000,BRAALRACNOR6,100
2,20180102,96,AALR3F,020,ALLIAR,ON NM,,R$,0000000001479,0000000001493,...,00007,000000000000000225,000000000000334384,0000000000000,0,99991231,0000001,0000000000000,BRAALRACNOR6,100
3,20180102,02,AAPL34,010,APPLE,DRN,,R$,0000000005681,0000000005681,...,00004,000000000000000900,000000000005074700,0000000000000,0,99991231,0000001,0000000000000,BRAAPLBDR004,123
4,20180102,96,AAPL34F,020,APPLE,DRN,,R$,0000000005681,0000000006500,...,00007,000000000000000061,000000000000363770,0000000000000,0,99991231,0000001,0000000000000,BRAAPLBDR004,123
5,20180102,10,ABCB2,010,ABC BRASIL,DIR PRE N2,,R$,0000000000411,0000000000420,...,00006,000000000000001200,000000000000497700,0000000000000,0,99991231,0000001,0000000000000,BRABCBD12PR6,128

Criando CSV

In [ ]:
#Criação de csv para evitar retrabalho e economia de tempo

data.to_csv('datab3.csv',sep=',')
pd.Timestamp.now()